<h1>{{title}}</h1>
{{#if error}}
    <div id="error"><p>{{error}}</p></div>
{{else}}
    <p>Conversation ID: {{conversationId}}</p>
    <p>This group: {{thisGroupName}}: {{thisGroupId}}</p>
    <p>Other Group: {{otherGroupName}}: {{otherGroupId}}</p>    
    







{{/if}}
<script src="../public/js/conversation.js"></script>