<h1>{{title}}</h1>
{{#if error}}
    <div id="error"><p>{{error}}</p></div>
{{else}}

    {{#if noConversations}}
        <p>You have no conversations!</p>
    {{else}}
        <ul class="conversationsList">
        {{#each conversationsAndGroupNames}}
            <li><a href="/conversations/{{@key}}">{{this}}</a></li>
        {{/each}}
        </ul>
    {{/if}}
    







{{/if}}