{{!-- <h1>{{title}}</h1>
{{#if error}}
    <div id="error"><p>{{error}}</p></div>
{{else}}
    <div id="conversationInfo" data-conversation-id="{{conversationId}}">
        <p>Conversation ID: {{conversationId}}</p>
    </div>
    <p>This group: {{thisGroupName}}: {{thisGroupId}}</p>
    <p>Other Group: {{otherGroupName}}: {{otherGroupId}}</p>    
    <div id="messageContainer"></div>

{{/if}}
<script src="../public/js/conversation.js"></script> --}}



<h1>{{title}}</h1>
{{#if error}}
    <div id="error"><p>{{error}}</p></div>
{{else}}
    <div id="conversationInfo" data-conversation-id="{{conversationId}}">
        <p>Conversation ID: {{conversationId}}</p>
    </div>
    <div id="senderInfo" data-sender-id="{{thisGroupId}}">
        <p>This group: {{thisGroupName}}: {{thisGroupId}}</p>
    </div>

    <p>Other Group: {{otherGroupName}}: {{otherGroupId}}</p>

    <!-- Message Container -->
    <div id="messageContainer"></div>

    <!-- Message Sending Form -->
    <form id="messageForm" method="POST">
        <textarea id="messageText" placeholder="Type your message here"></textarea>
        <button type="submit">Send Message</button>
    </form>

    <div id="messageSendError" hidden> <p>There was an error sending your message</p></div>

{{/if}}
<script src="../public/js/conversation.js"></script>