<h1>{{title}}</h1>

{{#if error}}
    <div id="error"><p>{{error}}</p></div>
{{else}}
    {{#if noUniqueMatches}}
        <div>
            <p>You have started a conversation with all your matches already!</p>
        </div>
        <div><a href="/messages">Go Back to Messages</a></div>
        <div><a href="/">Go Home</a></div>

    {{else}}
        <div class="newConversationsContainer">
            <ul class="newConversationsList">
            {{#each conversationsAndGroupNames}}
                {{!-- <li><a href="/messages/create/{{@key}}">{{this}}</a></li> --}}

                {{!-- found how to do the below from here: https://stackoverflow.com/questions/3915917/make-a-link-use-post-instead-of-get --}}
                <li class="newConversationListElements">
                    <form method="post" action="/messages/create/{{@key}}" class="inline">
                        <label for="newConversationSubmit"></label>
                        <input type="hidden" name="newConversationSubmit" value="{{this}}">
                        <button type="submit" name="newConversationSubmitButton" value="{{this}}" class="link-button">
                            Start a Conversation with {{this}}
                        </button>
                    </form>
                </li>
            {{/each}}
            </ul>
        </div>
        <div><a href="/messages">Go Back to Messages</a></div>
        <div><a href="/">Go Home</a></div>
    {{/if}}
{{/if}}
{{!-- <script src="../public/js/createConversation.js"></script> --}}