<title>{{title}}</title>

<!--<h1>Welcome {{group.groupName}}</h1>-->

<!-- Renders ALL profile pictures together-->
{{#each group.users}}
  {{picture}}
{{/each}}


  <h1>{{group.groupName}}</h1>
  <h2>Description: {{group.groupDescription}}</h2>
  <h2>Location: {{location.city}}, {{location.state}} {{location.zipcode}}</h2>
  <br>
  

  {{#each groupMembers}} 
    <h5>{{picture}}</h2>
    <h3>Name: {{firstName}} {{lastName}} </h3>
    <h3>Gender: {{gender}} </h3>
    <h3>Biography: {{biography}} </h3>
    <h3>Age: {{age}}</h3>
    <h3>Interests: {{interests}}  </h3>
    <br>
  {{/each}}

  {{#if group.reviews}}
    <h1>Reviews:</h1>
    {{#each group.reviews}}
      <h3>{{groupId}}</h3>
      <h3>{{firstName}} {{lastName}}</h3>
      <h3>{{review}}</h3>
    {{/each}}
  {{/if}}

  <a href="/">Return to homepage</a>