<header>
    <h1>{{group.groupName}}</h1>
    <h4>Description: {{group.groupDescription}}</h4>
    <h4>Gender Preference: {{group.genderPreference}}</h4>
    <h4>Group Budget: ${{group.budget}}</h4>
    <h4>Location: {{location.city}}, {{location.state}} {{location.zipcode}}</h4>
    <H4>Radius: {{location.radius}}</H4>
</header>

<nav id="homepage">
    <a href="/">Home</a>
    <a href="/matches">Matches</a>
    <a href="/messages">Messages</a>
    <a href="/settings">Settings</a>
    <a href="/logout">Log Out</a>
    <br>
    <br>
     <div class="dropdown">
    <button class="dropbtn">Filters</button>
    <div class="homepage-dropdown-content" id="homepage-dropdown-content">
        <form action="/" method="POST">
        <label for="filter">Filters:</label>
            <button type="submit" name="filter" value="genderPreference">Gender Preference</button>
            <button type="submit" name="filter" value="budget">Budget</button>
            <button type="submit" name="filter" value="interests">Interests</button>
            <button type="submit" name="filter" value="location">Location</button>
            <button type="submit" name="filter" value="reset">Reset Page</button>
        </form>
    </div>
</div>
</nav>



<div class="homepage-container">
    <div class="homepage-section1">
        <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
        <img src="{{user.picture}}" alt="{{user.firstName}}" width="300" height="300">
        {{#if groupMembers.length}}
            <h2>Other Group Members:</h2>
            {{#each groupMembers}}
                <h3>{{firstName}} {{lastName}} </h3>
                <img src="{{picture}}" alt="{{firstName}}" width="200" height="200">
                <h4>Age: {{age}}</h4>
                <h4>Biography: {{biography}}</h4>
                <h4>Interests:
                    {{#each interests}}
                        {{this}}, 
                    {{/each}}
                </h4>
                <br>
            {{/each}}
        {{else}}
            <!-- Handle the case when there are no group members -->
            <h4>Age: {{user.age}}</h4>
                <h4>Biography: {{user.biography}}</h4>
                <h4>Interests:
                    {{#each user.interests}}
                        {{this}}, 
                    {{/each}}
        {{/if}}
    </div>

    <div class="homepage-section2">
        
        {{#if suggestedMatches.length}}
        <h1>List of Suggested Groups:</h1>
        <br>
            {{#each suggestedMatches}}
                <div id="corner_border">
                    <h2>{{groupName}}</h2>
                    <h4>Description: {{groupDescription}}</h4>
                    <h4>Group Location: {{groupLocation.city.city}}, {{groupLocation.city.state}} {{groupLocation.city.zipcode}}</h4>
                    <h4>Group Budget: ${{budget}}</h4>
                    <h4>Gender Preference: {{genderPreference}}</h4>
                    <h4>Group Members:</h4>
                    <ol>
                        <div class="container">
                            {{#each users}}
                                <div class="group-user">
                                    <img src="{{picture}}" alt="{{firstName}}" width="125" height="125">
                                    <h2>{{firstName}} {{lastName}}</h2>
                                    <h4>Age: {{age}}</h4>
                                    <h4>Biography: {{biography}}</h4>
                                    <h4>Interests:
                                        {{#each interests}}
                                            {{this}}, 
                                        {{/each}}
                                    </h4>
                                </div>
                            {{/each}}
                        </div>
                    </ol>
                    <br>
                    <form action="/matches" method="post">
                        <input type="hidden" id="user_id" name="user_id" value={{this_userID}}>
                        <input type="hidden" id="suggested_id" name="suggested_id" value={{_id}}>
                        <button type="submit">Add Match</button>
                    </form>
                    <a href="/groups/{{_id}}"> View Profile on a new tab</a>
                </div>
                <br>
            {{/each}}
        {{else}}
            <h1>No Suggested Groups for you at the moment, check your matches page to message all your current matches.</h1>
        {{/if}}
    </div>
</div>
