<header>
        <h1>{{group.groupName}}</h1>
        <h4>Description: {{group.groupDescription}}</h4>
        <h4>Gender Preference: {{group.genderPreference}}</h4>
        <h4>Group Budget: ${{group.budget}}</h4>
        <h4>Location: {{location.city}}, {{location.state}} {{location.zipcode}}</h4>
    </header>

    <nav id = "homepage">
        <a href="/">Home</a>
        <a href="/matches">Matches</a>
        <a href="/messages">Messages</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Log Out</a>
        
    </nav>


<div class = "homepage-container">
    <div class = "homepage-section1">
        <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
        <img src = "{{user.picture}}" alt = "{{user.firstName}}" width = "300" height = "300">
        {{#if groupMembers.length}}
            <h2>Other Group Members:</h2>
            <!--<h3>Gordon Sharkie</h2>
            <img src = "https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/51tyD1SIIGL.jpg" alt = "yoshi" width = "200" height = "200">
            <h3>Hestu the Korok</h2>
            <img src = "https://cdn.vox-cdn.com/thumbor/suDxa0hNB-UgjsTUDnXBV8d63s8=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/24653529/Tears_of_the_Kingdom_Hestu_and_Koroks_dancing.jpg" alt = "yoshi" width = "200" height = "200">-->
                {{#each groupMembers}}
                    <h3>{{firstName}} {{lastName}} </h3>
                    <img src = "{{picture}}" alt = "{{firstName}}" width = "200" height = "200">
                {{/each}}
        {{/if}}
    </div>
    
    <div class = "homepage-section2">
    <h1>List of Suggested Groups:</h1>
    <br>

    {{#each suggestedMatches}}
        <div id="corner_border">
            <h2>{{groupName}}</h2>
            <h4>Description: {{groupDescription}}</h4>
            <h4>Group Location: {{groupLocation.city.city}}, {{groupLocation.city.state}} {{groupLocation.city.zipcode}}</h4>
            <h4>Group Budget: ${{budget}}</h4>
            <h4>Gender Preference: {{genderPreference}}</h4>
            <h4>Group Members:</h4>
            <ol>
                <div class = "container">
                {{#each users}}
                    <div class = "group-user">
                        <img src = "{{picture}}" alt = "{{firstName}}" width = "125" height = "125">
                        <h2>{{firstName}} {{lastName}}</h2>
                        <h4>Age: {{age}}</h4>
                        <h4>Biography: {{biography}}</h4>
                        <h4>Interests:
                            {{#each interests}}
                                {{this}}, 
                            {{/each}}
                        </h4>
                    </div>
                
                {{/each}}
                </div>
            </ol>
             <br>
            <!-- Need to implement way for this to be passed into confirmMatches function_-->
            <a href = "#">Add Match</a> 
            
            <br>
            <a href = "/groups/{{_id}}"> View Profile on new tab</a>
        </div>
        <br>
   {{/each}}
   </div>
   </div>
    

    <!--<div class = "homepage-section2">
        <h1>List of Suggested Groups:</h1>
        <br>
        <div id="corner_border">
            <h2>Garden State Explorers</h2>
            <h4>Description: Looking for roommates in NJ Hit us up</h2>
            <h4>Group Location: Hoboken, New Jersey 07030</h4>
            <h4>Group Budget: $10,000</h4>
            <h4>Gender Preference: M</h4>
            <h4>Group Members:</h4>
            <ol>
                    <div class = "container">
                        <div class = "group-user">
                        <img src = "https://ssb.wiki.gallery/images/thumb/6/61/Ryu_SSBU.png/800px-Ryu_SSBU.png" alt = "ryu" width = "125" height = "125">
                        <h2>Ryu</h2>
                        <h4>Gender: Male</h4>
                        <h4>Age: 69</h4>
                        <h4>Interests: Street Fighting, Eating Ramen</h4>
                        </div>

                        <div class = "group-user">
                        <img src = "https://assets.pokemon.com/assets/cms2/img/pokedex/full/909.png" alt = "fuecoco" width = "125" height = "125">
                        <h2>Fuecoco FireCroc</h2>
                        <h4>Gender: Male</h4>
                        <h4>Age: 20</h4>
                        <h4>Interests: Fire, Pokemon Fighting, Superman</h4>
                        </div>
                    </div>         
            </ol>
        </div>
    </div>-->
    
</div>
