<!--Group: Current Logged-in Group-->
<!--roommateGroup: List of all OTHER roommate groups with accounts-->


<!--1. Plan on implementing banner on top w/ group profile picture (canvas) based off groupID-->
<h1>{{group.groupProfilePicture}}</h1>



<!--2. Plan on implementing Welcome message with group name and maybe each of their profile pics lined up? -->
<h1>Welcome {{group.groupName}}</h1>


<!-- Renders ALL profile pictures together-->
{{#each group.users}}
  {{picture}}
{{/each}}

<!--3. Plan on implementing edit profile menu which will allow user to update group info, etc. -->
{{!-- <a href="/settings">Edit User/Group Profile</a> --}}


<!--4. Plan on drop-down menu with different sorting methods (age, gender, etc.) -->
<form action="#">
      <label for="lang">Language</label>
      <select name="languages" id="lang" multiple>
        <option value="javascript">JavaScript</option>
        <option value="php">PHP</option>
        <option value="java">Java</option>
        <option value="golang">Golang</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
        <option value="C++">C++</option>
        <option value="erlang">Erlang</option>
      </select>
      <input type="submit" value="Submit" />
</form>


<!--5. Plan on adding gear icon on top right corner of menu which will render the view of user to settings.handlebars -->
<div class="settingsContainer"><a href="/settings">Settings</a></div>

<div class="messagesContainer"><a href="/messages">Messages</a></div>

<!--Before rendering homepage, pass handlebars parameter with ALL ROOMMATE GROUPS-->
<!--6. Each roomante group will have a rectangle that shows their group profile page, their bio, and member information -->
<!-- ^ CSS STUFF (IGNORE)-->

<!--Need to implement feature where it only shows groups that are looking 
for group members that are less than: (4 - roommateGroup.users.length) -->

<h1>List of All Roommate Groups</h1>
{{#each roommateGroup}}
  <h1>{{groupName}} </h1>
  <h2>{{groupDescription}}</h2>
  <h2>{{groupLocation}}</h2>

  {{#each users}}
    <h3>{{firstName}} {{lastName}} {{gender}} {{biography}} {{age}} {{interests}}</h3>
  {{/each}}

  {{#if roommateGroup.reviews}}
    {{#each roommateGroup.reviews}}
      <h3>{{groupID}}</h3>
      <h3>{{firstName}} {{lastName}}</h3>
      <h3>{{review}}</h3>
  {{/each}}
  {{/if}}

<a ref="/groupbyID/{{groupID}}">View profile page</h1>
{{/each}}

<!-- Script that re-renders homepage if certain sorting filter is applied -->
<script src ='../public/js/homepage.js'></script>

