<!--Group: Current Logged-in Group-->
<!--roommateGroup: List of all OTHER roommate groups with accounts-->


<!--1. Plan on implementing banner on top w/ group profile picture (canvas) based off groupID-->
<h1>{{group.groupProfilePicture}}</h1>



<!--2. Plan on implementing Welcome message with group name and maybe each of their profile pics lined up? -->
<h1>Welcome {{group.groupName}}</h1>


<!-- Renders ALL profile pictures together-->
{{#each group.users}}
  {{picture}}
{{/each}}

<!--3. Plan on implementing edit profile menu which will allow user to update group info, etc. -->
<a href "editProfile">Edit User/Group Profile</a>


<!--4. Plan on drop-down menu with different sorting methods (age, gender, etc.) -->
<!--Taken from w3schools example-->
<!--Need to add a form with POST method that re-renders homepage.handlebars-->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#locationASC">Location (Closest -> Furthest) (DEFAULT)</a>
    <a href="#locationDESC">Location (Furthest -> Closest)/a>
    <a href="#ageASC">Age (ASC)</a>
    <a href="#ageDESC">Age (DESC)</a>
    <a href="#onlyMales">Males</a>
    <a href="#onlyFemales">Females</a>
    <a href="#bothGenders">Co-ed</a>
    <a href="#about">Budget (ASC)</a>
    <a href="#base">Budget (DESC)</a>
  </div>
</div>

<script>
function myFunction() 
{
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() 
{
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>






<!--5. Plan on adding gear icon on top right corner of menu which will render the view of user to settings.handlebars -->
<a href"settings">Settings</a>


<!--Before rendering homepage, pass handlebars parameter with ALL ROOMMATE GROUPS-->
<!--6. Each roomante group will have a rectangle that shows their group profile page, their bio, and member information -->
<!-- ^ CSS STUFF (IGNORE)-->

<!--Need to implement feature where it only shows groups that are looking 
for group members that are less than: (4 - roommateGroup.users.length) -->

<h1>List of All Roommate Groups</h1>
{{#each roommateGroup}}
  <h1>{{groupName}} </h1>
  <h2>{{groupDescription}}</h2>
  <h2>{{groupLocation}}</h2>

  {{#each users}}
    <h3>{{firstName}} {{lastName}} {{gender}} {{biography}} {{age}} {{interests}}</h3>
  {{/each}}

  {{#if roommateGroup.reviews}}
    {{#each roommateGroup.reviews}}
      <h3>{{groupID}}</h3>
      <h3>{{firstName}} {{lastName}}</h3>
      <h3>{{review}}</h3>
  {{/each}}
  {{/if}}

<a ref="/groupbyID/{{groupID}}">View profile page</h1>
{{/each}}

<!-- Script that re-renders homepage if certain sorting filter is applied -->
<script src ='../public/js/homepage.js'></script>

