<div class="Matches-header">
    <h1>Matches</h1>
</div>

<div class="matches-container"> 
    {{#each matchesWithConversations}}
        <div class="match-card">
            {{#if this.match.groupName}}
                <div class="group-name-box">
                    <h2>Group Name: {{this.match.groupName}}</h2>
                </div>
            {{/if}}
            
            {{#if this.match.groupName}}
                <h3><strong>Group Description: {{this.match.groupDescription}}</strong></h3>
            {{/if}}
            
            {{#if this.city}}
                <div class="location-info">
                    <h3>Location:</h3>
                    <p>City: {{this.city.city}}</p>
                    <p>State: {{this.city.state}}</p>
                    <p>Zipcode: {{this.city.zipcode}}</p>
                </div>
            {{/if}}
            
            

            
            {{#if this.users}}
            <h3>Members:</h3>
                <ul class="members-list">
                    {{#each this.users}}
                        <li>
                            <div class="user-info">
                            <p class="user-name">{{this.firstName}} {{this.lastName}}</p>
                            <p class="user-contact">{{this.emailAddress}}</p>
                            <p class="user-contact">{{this.phoneNumber}}</p>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

           {{#if this.match.reviews}}
            <h3>Reviews:</h3>
            <div class="review-button">
                <form action="/reviews/{{this.match.groupId}}" method="get">
                    <button type="submit">See Reviews</button>
                </form>
            </div>
            {{else}}
            <div class="review-button">
                <form action="/reviews/create/{{this.match.groupId}}" method="get">
                    <button type="submit">Create Review</button>
                </form>
            </div>
            {{/if}}

            {{#if this.conversationId}}
                <div class="message-button"><a href="/messages/{{this.conversationId}}">Message Group</a></div>
            {{else}}
                <div class="message-button"><a href="/messages/create/{{this.otherGroupId}}">Create New Conversation</a></div>
            {{/if}}
        </div>
    {{/each}}

    {{#unless matchesWithConversations}}
        <p class="no-matches-message">No Matches Yet!</p>
    {{/unless}}

    
</div>
<div class="home-button-container">
    <a href="/" class="home-button">Go Home</a>
</div>


{{!--

<h1>{{title}}</h1>

{{#if matchedGroup.length}}
    {{#each matchedGroup}}
        <h1>{{groupName}} </h1>
        <h2>{{groupDescription}}</h2>
        <h2>{{groupLocation}}</h2>

    {{#each matchedGroup.users}}
        <h1>{{picture}}</h1>
        <h3>{{firstName}} {{lastName}} {{gender}} {{email}} {{phoneNumber}} {{biography}} {{age}} {{interests}}</h3>
    {{/each}}

    {{#if matchedGroup.reviews}}
        {{#each matchedGroup.reviews}}
        <h3>{{groupID}}</h3>
        <h3>{{firstName}} {{lastName}}</h3>
        <h3>{{review}}</h3>
        {{/each}}
    {{/if}}

    <a href"messages/{{matchedGroup,groupID}}">Message this group</a>
    {{/each}}

{{else}}
    <h1>You currently have no matches</h1>
    <a href"homepage">Go back to homepage</a>
{{/if}}

--}}