<h1>Matches</h1>

<div class="matches-container"> 
    {{#each matches}}
        <div class="match-card">
            <h2>Group Name: {{this.groupName}}</h2>
            <p>Group Description: {{this.groupDescription}}</p>
            <p>Location: {{this.groupLocation}}</p>

            <h3>Members:</h3>
            {{#each this.users}}
                <p>{{users}}</p>
            {{/each}}

            {{#if this.reviews}}
                <h3>Reviews:</h3>
                {{#each this.reviews}}
                    <p>Review by {{this.firstName}} {{this.lastName}}: {{this.review}}</p>
                {{/each}}
            {{/if}}

            <a href="/messages/{{this.groupID}}">Message this group</a>
        </div>
    {{/each}}
</div>


{{!--

<h1>{{title}}</h1>

{{#if matchedGroup.length}}
    {{#each matchedGroup}}
        <h1>{{groupName}} </h1>
        <h2>{{groupDescription}}</h2>
        <h2>{{groupLocation}}</h2>

    {{#each matchedGroup.users}}
        <h1>{{picture}}</h1>
        <h3>{{firstName}} {{lastName}} {{gender}} {{email}} {{phoneNumber}} {{biography}} {{age}} {{interests}}</h3>
    {{/each}}

    {{#if matchedGroup.reviews}}
        {{#each matchedGroup.reviews}}
        <h3>{{groupID}}</h3>
        <h3>{{firstName}} {{lastName}}</h3>
        <h3>{{review}}</h3>
        {{/each}}
    {{/if}}

    <a href"messages/{{matchedGroup,groupID}}">Message this group</a>
    {{/each}}

{{else}}
    <h1>You currently have no matches</h1>
    <a href"homepage">Go back to homepage</a>
{{/if}}

--}}