<h1>{{title}}</h1>
<form method="POST" action="/settings" id="register-form">
    {{#if error}}
        <p class="error-message">{{error}}</p>
    {{/if}}
    <div class="notice"><p>You will be logged out after making any changes</p></div>
    <div class="notice"><p>Phone Number, Password, and Interests will remain the same unless changed below</p></div>
    <div class="input-group">
        <label for="firstNameInput">First Name</label>
        <input type="text" id="firstNameInput" name="firstNameInput" value="{{firstName}}">
    </div>
    <div class="input-group">
        <label for="lastNameInput">Last Name</label>
        <input type="text" id="lastNameInput" name="lastNameInput" value="{{lastName}}">
    </div>
    <div class="input-group">
        <label for="emailAddressInput">Email</label>
        <input type="email" id="emailAddressInput" name="emailAddressInput">
    </div>
    <div class="input-group">
        <label for="phonenumberInput">Phone Number</label>
        <input type="number" id="phonenumberInput" name="phonenumberInput">
    </div>
    <div class="input-group">
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" name="passwordInput">
    </div>
    <div class="input-group">
        <label for="confirmPasswordInput">Confirm Password</label>
        <input type="password" id="confirmPasswordInput" name="confirmPasswordInput">
    </div>
    <div class="input-group">
    <label for="ageInput">Age:</label>
    <input type="number" id="ageInput" name="ageInput" min="18" max="120">
</div>

<div class="input-group">
        <h4>Please select exactly 5 interests:</h4>
        <label for="music"><input type="checkbox" name="interestsInput" value="Music" id="music"> Music</label>
        <label for="movies"><input type="checkbox" name="interestsInput" value="Movies" id="movies"> Movies</label>
        <label for="reading"><input type="checkbox" name="interestsInput" value="Reading" id="reading"> Reading</label>
        <label for="traveling"><input type="checkbox" name="interestsInput" value="Traveling" id="traveling"> Traveling</label>
        <label for="hiking"><input type="checkbox" name="interestsInput" value="Hiking" id="hiking"> Hiking</label>
        <label for="cooking"><input type="checkbox" name="interestsInput" value="Cooking" id="cooking"> Cooking</label>
        <label for="baking"><input type="checkbox" name="interestsInput" value="Baking" id="baking"> Baking</label>
        <label for="fitness"><input type="checkbox" name="interestsInput" value="Fitness" id="fitness"> Fitness</label>
        <label for="yoga"><input type="checkbox" name="interestsInput" value="Yoga" id="yoga"> Yoga</label>
        <label for="meditation"><input type="checkbox" name="interestsInput" value="Meditation" id="meditation"> Meditation</label>
        <label for="gardening"><input type="checkbox" name="interestsInput" value="Gardening" id="gardening"> Gardening</label>
        <label for="photography"><input type="checkbox" name="interestsInput" value="Photography" id="photography"> Photography</label>
        <label for="art"><input type="checkbox" name="interestsInput" value="Art" id="art"> Art</label>
        <label for="crafting"><input type="checkbox" name="interestsInput" value="Crafting" id="crafting"> Crafting</label>
        <label for="diy-projects"><input type="checkbox" name="interestsInput" value="DIY Projects" id="diy-projects"> DIY Projects</label>
        <label for="technology"><input type="checkbox" name="interestsInput" value="Technology" id="technology"> Technology</label>
        <label for="gaming"><input type="checkbox" name="interestsInput" value="Gaming" id="gaming"> Gaming</label>
        <label for="sports"><input type="checkbox" name="interestsInput" value="Sports" id="sports"> Sports</label>
        <label for="cycling"><input type="checkbox" name="interestsInput" value="Cycling" id="cycling"> Cycling</label>
        <label for="running"><input type="checkbox" name="interestsInput" value="Running" id="running"> Running</label>
        <label for="dancing"><input type="checkbox" name="interestsInput" value="Dancing" id="dancing"> Dancing</label>
    </div>

<div class="input-group">
    <label for="biographyInput">Biography:</label>
    <input type="text" id="biographyInput" name="biographyInput" value="{{biography}}">
</div>
<div class="input-group">
    <label for="pictureInput">Picture:</label>
    <input type="text" id="pictureInput" name="pictureInput" value="{{picture}}">
</div>

    <div class="input-group">
        <label for="submitButton"></label>
        <input name="submitButton" id="submitButton" type="submit" value="Make Changes">
    </div>
   
</form>

<div class="input-group">
    <input id="deleteButton" type="submit" value="Delete User">
</div>
{{#if admin}}
<div id="adminSettings" ><a href="/settings/admin">Visit Admin Settings Page</a></div>
{{/if}}
<br>
<a href="/">Go Home</a>
<script src="../public/js/register_loginscript.js"></script>