<title>{{title}}</title>



<h1>{{user.picture}}</h1>
<h3>{{user.firstName}} {{user.lastName}} {{user.gender}} {{user.biography}} {{user.age}} {{user.interests}} </h3>

<a href"homepage">Go back to homepage</a>